<span class="unread" id="unread_count">Unread: <%= @unread_count %> </span>

<div id="navigation">
  <%= link_to "Unread", feeds_path %> | <%= link_to "Read", feeds_path(:type => "read") %> | <%= link_to "All", feeds_path(:type => "all") %>
</div>

<div id="container">
  <div id="link_list">
    <%= render :partial => "link_list", :locals => {:feeds => @feeds} %>
  </div>
  
  <div id="show_item">
    << Click on a link to the left to show the posting (gray items = read, green = unread)
  </div>
</div>

