<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Published:</strong>
  <%= @feed.published %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @feed.summary %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @feed.created_at %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @feed.is_read %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @feed.updated_at %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
